@import 'components/variables'
@import 'components/mixins'
@import 'components/fonts'
@import 'components/reset'
@import 'components/typography'
@import 'components/footer'
@import 'components/home'

.container-spinner
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba(255,255,255, .8)
    top: 0
    left: 0
    z-index: 1000

.wrapper
    min-height: 100vh