<section class="home">
    <div class="jumbotron">
        <img class="center-block" src="/imgs/logo.png" />
        <h1>Mundipagg Project GitHub API v3</h1>
        <p class="lead">Projeto feito com o design baseado totalmente em Bootstrap, todo o projeto foi criado em cima de uma estrutura pessoal pra projetos em AngularJS, por esse motivo, pode haver algumas coisas que não estão sendo usadas no SASS. Versão do AngularJS utilizada no projeto: 1.6.1</p>
    </div>
    <div class="home-select__box">
        <p class="home-select__titulo">Selecione um repositório:</p>
        <select id="repos" class="form-control" ng-model ="home.selectRepo" ng-change="home.getRepository()">                           
            <option ng-repeat="repo in home.repos" value="{{repo.name}}">
                {{repo.name}}
            </option>
        </select>
    </div>

    <div class="row dados-api">
        <div class="col-xs-4">
            <h3 class="dados-api__titulo">Stars</h3>
            <p class="dados-api__valor">{{home.selectedRepo.stargazers_count}}</p>
        </div>
        <div class="col-xs-4">
            <h3 class="dados-api__titulo">Forks</h3>
            <p class="dados-api__valor">{{home.selectedRepo.forks_count}}</p>
        </div>
        <div class="col-xs-4">
            <h3 class="dados-api__titulo">Contributors</h3>
            <p class="dados-api__valor">{{home.selectedRepo.contrib_count}}</p>
        </div>
    </div>


    <h3 class="text-muted home__error" ng-if="home.errorRepo" >O repositório escolhido está vazio.</h3>
    <h3 class="text-muted" ng-if="!home.errorRepo" >Gráfico com quantidade de commits por mês:</h3>

    <canvas
        ng-if="!home.errorRepo" 
        class="chart chart-line" 
        chart-data="home.data" 
        chart-labels="home.labels" 
        chart-series="home.series" 
        chart-options="home.options" 
        chart-legend="home.legend"
        >
    </canvas>
</section>