.footer
    background-color: $bg-jumbotron
    padding: 15px
    text-align: center
    margin-top: 75px

    p
        color: $secondary-text
        margin: 0

        a
            color: $secondary-text !important
            text-decoration: underline