.home
    .jumbotron
        background-color: $bg-jumbotron
        color: $secondary-text
        margin-top: 20px
        padding: 30px

        h1
            +rem('font-size', 40px)
            font-weight: bold
            margin-bottom: 15px
            margin-top: 30px
            text-align: center
    
    .home-select__box
        width: 300px
        margin: 0 auto
        margin-bottom: 20px

        p
            +rem('font-size', 18px)
    
    .dados-api
        text-align: center
        margin-bottom: 50px
        
        .dados-api__valor
            font-weight: bold
            +rem('font-size', 15px)
    
    .home__error
        margin: 50px 0 100px
        text-align: center

@media screen and (max-width: $max-mobile)
    .home
        .jumbotron
            p
                +rem('font-size', 14px)
        
        .home-select__box
            width: auto
        
        .dados-api
            div
                padding: 0 5px

            .dados-api__titulo
                +rem('font-size', 15px)
            
            .dados-api__valor
                +rem('font-size', 12px)